.boarddetail-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.boarddetail-input-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.boarddetail-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.boarddetail-input-container input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.boarddetail-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.likebtn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
