.KioskinputFromKey {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    
}

  .Kiosklogin-form {
  background-color: white;
  display: block;
  padding: 1rem;
  min-width: 400px;
  max-width: 60%;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}