.title-wrapper {
  display: flex;
  justify-content: center;
}
.title-center {
  width: 80%;
  max-width: 1200px;
}

.title-left {
  width: 20%;
}

.title-right {
  width: 20%;
}

.editor-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding-top: 20px;
}

.button-right {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
}
.button-left {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 20px;
}
