.menu {
  cursor: pointer;
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.menu {
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu :hover {
  /* background-color: transparent; */
  border-bottom: 3px solid #0067a3;
  color: black;
  margin: -3px;
}
