.Header_guest {
  font-family: Arial, Helvetica, sans-serif;
}

.Header_category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 20%;
}

.logo {
  width: 50px;
  height: 50px;
}

.mainlogo-container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.mainlogo {
  width: 100px;
  height: 50px;
}

.link-container {
  display: flex;
  justify-content: center;
  width: 20%;
}

.link {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: blue;
}
