.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
