.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.footer-common {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
