/* 모달창을 화면 중앙. 최상단에 노출 */
/* body{
    color:black;
} */

.Orderminus{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 40% 2px;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.Orderplus{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 40% 2px;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
@keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
  }
  
  .Ordermodal {
    /* 모달창 크기 */
    width: 80%;
    height: 60%;
  
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);


    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    border-radius: 5px;
    background: white;
  }
  .Ordermessage {
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
  }
  .Orderbtn {
    color:inherit;
      font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  
  .Orderbtn:last-child {
    margin: 0;
  }
  
  .Orderbtn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .Orderbtn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }
  
  .Orderoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .Orderimg_big {
    width: 300px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
    margin : 4px;
  }



.Ordermod {
    /* 모달창 크기 */
    width: 75%;
    height: 75%;
  
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  /* 모달창 내부 X버튼 */
  .Orderclose {
    position: absolute;
    right: 10px;
    top: 10px;
  }