.Center {
    text-align: center;
    font-size: 33px;
    line-height: 1.5;
    
  }

  .button2 {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }

  .button1 {
    float:right;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }

  	
img {
    width: 400px;
    height: 280px;
    object-fit: contain;
  }

  .no_dot {
    list-style-type: none;
  }

  .product_container{
    border-color: black;
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    align-items: center;
    width: 100%;
}
.product{
    width:30%;
    height: 30%;
    margin-bottom : 4%;
    /*border: 1px solid black;*/
}


/* */

.product_title{
    font-size : 1.3rem;
    font-weight: 600;
    margin : 4%;
  }
  .product_des{
    font-size : 0.8rem;
    margin : 2% 3% 2% 4%;
  }
  .product_mon{
    font-size : 1rem;
    margin : 2% 3% 1% 4%;
  }
  .product_link_div{
    text-align: center;
  }
  .product_link{
    position:inherit;
    font-size : 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background : #0B5ED9;
    color : white;
    border-radius : 10px;
    padding :5px;
  }