.Kioskbutton_default {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: white;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .Kioskbutton_like {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: white;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 15%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: 2px solid black; /* 테두리 속성 추가 */
  }
  
  .Kioskbutton_write {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: white;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 20%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .Kioskbutton_common {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: lightcoral;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .Kioskbutton_common:hover {
    background-color: lightcoral;
  }
  
  .Kioskbutton_gray {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 25%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .Kioskbutton_gray:hover {
    background-color: rgb(111, 105, 105);
  }
  
  .Kioskbutton_grays {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 25%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .Kioskbutton_grays:hover {
    background-color: rgb(111, 105, 105);
  }
  
  .Kioskbutton_transparent {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 25%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  