.cmt {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  list-style: none;
}

.cmt_left {
  display: flex;
  justify-content: center;
  width: 20%;
}

.cmt_center {
  display: flex;
  justify-content: center;
  width: 60%;
}

.cmt_right {
  display: flex;
  justify-content: center;
  width: 20%;
}
