.editor {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  /* max-width: 300px; */
  list-style: inside !important;
}

.editor h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ck-content {
  min-height: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.editor_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
