.Editor {
  max-width: 1200px;
  width: 100%;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.ck-content {
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
